<!DOCTYPE html>
<html>
<head>
    <title>{{ project.name }} - Project Detail</title>
</head>
<body>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Tasks</h2>
    {% if project.tasks.all %}
        <table>
            <tr>
                 <th>Name</th>
                 <th>Assignee</th>
                 <th>Start Date</th>
                 <th>Due Date</th>
                 <th>Is Completed</th>
            </tr>
            {% for task in project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>
                        {% if task.assignee %}
                            {{ task.assignee.username }}
                        {% else %}
                            Unassigned
                        {% endif %}
                    </td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>This project has no tasks.</p>
    {% endif %}
</body>
</html>
